{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
              
              {% if product == 'Flow' %}
              <br>
              <h2>Lista de Artigos Flow</h2>
              <br>
              <div class="form-check">
                <form class="form-inline my-2 my-md-0" action="{% url 'articles:flow_list_articles' %}">
                  <div class="row">
                    <div class="col-2">
                      <label>Data de início</label>
                      <input class="form-control" type="date" name="date_start_with">
                    </div>
                    <div class="col-2">
                      <label>Data Final</label>
                      <input class="form-control" type="date"  name="date_end_with">
                    </div>
                    <div class="col-4">
                      <label>Nome do Artigo</label>
                      <input class="form-control" name="query" type="text" placeholder="Pesquisar" aria-label="Search">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputState">Feito por</label>
                      <select id="inputState" class="form-control" name="usuario">
                        <option selected value="">Escolha o usuário</option>
                        {% for user in users %}
                        <option value="{{user.id}}">{{user.first_name |default:user.username}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-1">
              
                      <button class="btn btn-outline-success my-2 my-sn-0" type="submit">Filtrar</button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="pendente">
                        <label class="form-check-label" for="inlineCheckbox1">Pendente</label>
                      </div>
                    </div>
                    <div class="col-1">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="realizado">
                        <label class="form-check-label" for="inlineCheckbox1">Realizado</label>
                      </div>
                    </div>
                   
                  </div>
                  
              </form>
              {% elif product == 'Start' %}
              <br>
              <h2>Lista de Artigos Start</h2>
              <br>
              <div class="form-check">
                <form class="form-inline my-2 my-md-0" action="{% url 'articles:start_list_articles' %}">
                  <div class="row">
                    <div class="col-2">
                      <label>Data de início</label>
                      <input class="form-control" type="date" name="date_start_with">
                    </div>
                    <div class="col-2">
                      <label>Data Final</label>
                      <input class="form-control" type="date"  name="date_end_with">
                    </div>
                    <div class="col-4">
                      <label>Nome do Artigo</label>
                      <input class="form-control" name="query" type="text" placeholder="Pesquisar" aria-label="Search">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputState">Feito por</label>
                      <select id="inputState" class="form-control" name="usuario">
                        <option selected value="">Escolha o usuário</option>
                        {% for user in users %}
                        <option value="{{user.id}}">{{user.first_name |default:user.username}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-1">
              
                      <button class="btn btn-outline-success my-2 my-sn-0" type="submit">Filtrar</button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="pendente">
                        <label class="form-check-label" for="inlineCheckbox1">Pendente</label>
                      </div>
                    </div>
                    <div class="col-1">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="realizado">
                        <label class="form-check-label" for="inlineCheckbox1">Realizado</label>
                      </div>
                    </div>
                   
                  </div>
                  
              </form>
              {% elif product == 'Celero' %}
              <br>
              <h2>Lista de Artigos Celero</h2>
              <br>
              <div class="form-check">
                <form class="form-inline my-2 my-md-0" action="{% url 'articles:celero_list_articles' %}">
                  <div class="row">
                    <div class="col-2">
                      <label>Data de início</label>
                      <input class="form-control" type="date" name="date_start_with">
                    </div>
                    <div class="col-2">
                      <label>Data Final</label>
                      <input class="form-control" type="date"  name="date_end_with">
                    </div>
                    <div class="col-4">
                      <label>Nome do Artigo</label>
                      <input class="form-control" name="query" type="text" placeholder="Pesquisar" aria-label="Search">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputState">Feito por</label>
                      <select id="inputState" class="form-control" name="usuario">
                        <option selected value="">Escolha o usuário</option>
                        {% for user in users %}
                        <option value="{{user.id}}">{{user.first_name |default:user.username}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-1">
              
                      <button class="btn btn-outline-success my-2 my-sn-0" type="submit">Filtrar</button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="pendente">
                        <label class="form-check-label" for="inlineCheckbox1">Pendente</label>
                      </div>
                    </div>
                    <div class="col-1">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="realizado">
                        <label class="form-check-label" for="inlineCheckbox1">Realizado</label>
                      </div>
                    </div>
                   
                  </div>
                  
              </form>
              {% endif %}
                
              
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nome do Artigo</th>
                        <th scope="col">Status</th>
                        <th scope="col">Feito por</th>
                        <th scope="col">Última edição</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                          {% for article in articles  %}
                          <tr>
                            <td>{{article.name}}</td>
                            <td>{{article.get_status_display}}</td>
                            <td>{{article.owner.first_name}}</td>
                            <td>{{article.last_updated}}</td>

                            <td>
                              <a href="#" class="btn btn-primary btn-sm">Detalhes</a>
                              <a href="{% url 'artigos:edit_article' article.article_id  %}" class="btn btn-primary btn-sm">Editar</a>
                              <a href="{% url 'artigos:delete_article' article.article_id  %}" class="btn btn-danger btn-sm confirm-delete" data-toggle="modal", data-target="#confirmDeleteModal" id="deleteButton-{{ article.article_id }}" >Excluir</a>
                            </td>
                          </tr>
                          {% endfor %}   
                    </tbody>
                  </table>
            </div>
        </div>
        {% include 'partials/confirm_delete_modal.html' %}
    </div>



{% endblock body %}
