{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Status</th>
                        <th scope="col">Última edição</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                          {% for article in articles  %}
                          <tr>
                            <td>{{article.name}}</td>
                            <td>{{article.get_status_display}}</td>
                            <td>{{article.last_updated}}</td>

                            <td>
                              
                              {% if article.status == 'AF' %}
                              <a href="{% url 'artigos:change_to_done' article.article_id  %}" class="btn btn-success btn-sm confirm-change" data-toggle="modal", data-target="#confirmChangeModal" id="changeButton-{{ article.article_id }}">Feito</a>
                              {% elif article.status == 'AR' %}
                              <a href="{% url 'artigos:change_to_done' article.article_id  %}" class="btn btn-info btn-sm confirm-change" data-toggle="modal", data-target="#confirmChangeModal" id="changeButton-{{ article.article_id }}">Atualizar</a>
                              {% endif %}
                              
                            </td>
                          </tr>
                          {% endfor %}   
                    </tbody>
                  </table>
            </div>
        </div>
        {% include 'partials/confirm_change_to_done.html' %}
    </div>



{% endblock body %}