{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h2>Minhas tarefas pendentes</h2>
                <form class="form-inline my-2 my-md-0" action="{% url 'articles:home' %}"></form>
                    <div class="row">
                      <div class="col-4">
                      <label>Nome do Artigo</label>
                      <input class="form-control" name="query" type="text" placeholder="Pesquisar" aria-label="Search">
                    </div>
                    <div class="col-4"></div>
                    <button class="btn btn-outline-success my-2 my-sn-0" type="submit">Filtrar</button>
                  </div>
                  </div>
                </form>
                <br>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Status</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Última edição</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                          {% for article in articles  %}
                          <tr>
                            <td>{{article.name}}</td>
                            <td>{{article.get_status_display}}</td>
                            <td>{{article.get_product_display}}</td>
                            <td>{{article.last_updated}}</td>

                            <td>
                              
                              {% if article.status == 'AF' %}
                              <a href="{% url 'artigos:change_to_done' article.article_id  %}" class="btn btn-success btn-sm confirm-change" data-toggle="modal", data-target="#confirmChangeModal" id="changeButton-{{ article.article_id }}">Feito</a>
                              {% elif article.status == 'AR' %}
                              <a href="{% url 'artigos:change_to_done' article.article_id  %}" class="btn btn-info btn-sm confirm-change" data-toggle="modal", data-target="#confirmChangeModal" id="changeButton-{{ article.article_id }}">Atualizar</a>
                              {% endif %}
                              
                            </td>
                          </tr>
                          {% endfor %}   
                    </tbody>
                  </table>
            </div>
        </div>
        {% include 'partials/confirm_change_to_done.html' %}
    </div>



{% endblock body %}