 ../.bash_history
        ../.config/
        ../.dotnet/
        ../.gitconfig
        ../.idlerc/
        ../.librarymanager/
        ../.matplotlib/
        ../.nuget/
        ../.pylint.d/
        ../.receitanet/
        ../.rfb/
        ../.ssh/
        ../.templateengine/
        ../.viminfo
        ../.vscode/
        ../3D Objects/
        ../AppData/
        ../BaseCarros.mdf
        ../BaseCarros_log.ldf
        ../BaseSalao.mdf
        ../BaseSalao_log.ldf
        ../BaseTcc.mdf
        ../BaseTcc_log.ldf
        ../Contacts/
        ../Curso Python Udemy/
        ../Desktop/
        ../Documents/
        ../Downloads/
        ../Favorites/
        ../IntelGraphicsProfiles/
        ../Links/
        ../MicrosoftEdgeBackups/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{9471f73a-a3b0-11eb-88c3-fc9998914ae6}.TM.blf
        ../NTUSER.DAT{9471f73a-a3b0-11eb-88c3-fc9998914ae6}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{9471f73a-a3b0-11eb-88c3-fc9998914ae6}.TMContainer00000000000000000002.regtrans-ms
        ../OneDrive/
        ../Pictures/
        ../PycharmProjects/
        ../Saved Games/
        ../Searches/
        ../Videos/
        ../_netrc
        ../api_pontos_turisticos/
        ../edb_languagepack.exe
        ../edb_slony_i_pg13.exe
        ../flaskenv/
        ../igtiflixweb/
        ../manage.py
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
        ../postgresql_10.exe
        ../programa1.py
        ../shows-api/
        ../showsenv/
        ../source/
        ../teste.html
        ../testegit/
        ../testehtml/
        ../todoapp/
        ../venvs/
