<div class="modal fade" id="confirmRecuperationModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmRecuperationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body confirm-delete">
                Tem certeza que deseja recuperar o artigo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmRecuperationButtonModal">Recuperar</button>
            </div>
        </div>
    </div>
</div>