<div class="modal fade" id="confirmChangeModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body confirm-delete">
                Você tem certeza que quer mudar o status do artigo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmChangeButtonModal">Alterar</button>
            </div>
        </div>
    </div>
</div>